@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.primary-color {
    color: #fd6e0a;
}

.btn-primary {
    color: #fff;
    background-color: #fd6e0a;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
}
.btn-secondary{
    color: #fd6e0a;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    border: 1px solid #fd6e0a;
}

header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header and navigation */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}
nav li {
    list-style-type: none;
    margin-right: 50px;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    margin: 0px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-title {
    font-weight: 700;
    font-size: 45px;
    padding-top: 5px;
}
.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
}
.banner-text{
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    padding: 20px 0;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about */
.about{
    margin-top: 130px;
    background: #FFF8F3;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
    font-weight: 700;
    font-size: 35px;
    padding-bottom: 30px;
    text-align: center;
}
.section-description{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}
.about-info{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-desc{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do */
.what-i-do{
    margin: 130px 0;
    /* background: #FFF8F3;
    padding: 130px 150px;
    text-align: center; */
}
.skills-container{
    padding-top: 60px;
    display: flex;
    gap: 24px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    padding: 25px 0px;
}
.skill-desc{
    color: #757575;
}

/* resume section */
.resume-content{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-top: 50px;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}
.resume .sub-title{
    color: #757575;
}
.resume .desc, .desc{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.resume-item{
    margin: 30px 0;
}
.resume-btn{
    padding-top: 40px;
    text-align: center;
}

/* contact form */
.contact{
    margin-top: 90px;
    display: flex;
    gap: 80px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}
.contact-title{
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 30px;
}
.contact input[type="text"],input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 20px 30px;
}