@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    background-image: url('../images/slider_1.jpg'), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.title{
    font-size: 50px;
    font-weight: 700;
}
.desc{
    font-size: 20px;
    width: 55%;
    margin: 20px auto;
}
.btn{
    padding: 16px 40px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.btn-primary{
    color: black;
    font-weight: bold;
    font-size: 18px;
}

/* section */
.featured{
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    padding-top: 100px;
}
.section-title{
    font-size: 35px;
    text-align: center;
}
hr{
    width: 10%;
    color: #757575;
    margin: 0 auto;
    margin-top: 15px;
}
.feature-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
}
.details h2{
    font-size: 40px;
}
.details p{
    font-size: 18px;
    color: #9a9797;
    margin: 20px 0;
    line-height: 28px;
}
.details a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
/* services */
.services{
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
}
.icon{
    width: 10%;
}
.service-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}
.service1{
    text-align: center;
    padding: 100px 10px;
    border: 2px solid rgb(235, 232, 232);
}
.service1:hover{
    border: 2px solid black;
}
.service1 h4{
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
}
.service1 p{
    color: #757575;
    margin: 10px 0 30px;
}
.service1 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid black;
}

/* news */
.news{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.news-title{
    font-size: 30px;
    font-weight: bold;
}
.news-desc{
    font-size: 18px;
    color: #757575;
    margin: 25px 0;
}
.news a{
    text-decoration: none;
    color: black;
}
.news img{
    width: 99%;
}
.blog h4{
    font-size: 18px;
    padding: 25px 0;
}
.blog p{
    font-size: 16px;
    padding-bottom: 8px;
}

.query{
    margin: 100px 0;
    text-align: center;
}
.query h1{
    color: #504e4e;
    font-weight: 200;
    padding: 100px 0;
    background-color: #ebe9e9;
}

/* footer */
footer{
    width: 100%;
}
.footer-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
}
.footer-container h3{
    font-size: 20px;
    font-weight: 400;
    padding: 20px 0;
}
.footer-container p{
    font-weight: 100;
    padding: 10px 0;
}
input[type="email"]{
    padding: 14px 40px;
}
.btn-form{
    background-color: black;
    color: white;
    font-weight: bold;
}
.about a{
    text-decoration: none;
    display: block;
    margin-top: 20px;
}
